/* index.html */

body {
   background-image: url("https://images.template.net/97313/free-dark-green-background-g80px.jpg");
 
}

h1 {
  font-family: Gill-Sans, sans-serif;
}

p {
  font-family: Gill-Sans, sans-serif;
}

img.top {
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #BC4B51;
}

ul {
  position: sticky;
  top: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #BC4B51;
}

li {
  float: left;
}

li a {
  display: block;
  color: #383838;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #5B8E7D;
}

.active {
  background-color: #5B8E7D;
}

div.stars {
  display: inline-block;
}

h1.abt {
  text-align: center;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

img.head {
  width: 80%;
  height: 120px;
  object-fit: fill;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
span.abt {
  padding: 10px;
  margin: 10px;
  border: 10px solid #355E3B;
  color: #383838;
  background-color: #5B8E7D;
  display: inline-block;
}

p.abt {
  text-align: center;
  position: relative;
  margin-top: 0px;
}

.center {
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
}

a.nehs {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: 10px solid #F4A259;
  color: #383838;
  background-color: #F4E285;
  display: inline-block;
  text-decoration: none;
}

  a:link.nehs, a:visited.nehs {
  background-color: #F4E285;
  color: #383838;
}

a:hover.nehs, a:active.nehs {
  background-color: #F4A259;
  color: #383838;
}

div.bottom {
  text-align: center;
  border: 5px solid #F4A259;
  color: #383838;
  background-color: #5B8E7D;
}

hr{
  height: 5px;
  background-color: #F4E285;
  border-style: solid;
  border-color: #355E3B;
}

a.bottom {
  width: 100%;
  max-width: 100%
}

.bottom {
    box-sizing: border-box;
}

  a:link.bottom, a:visited.bottom {
  background-color: #F4E285;
  color: #383838;
  border: 10px #F4A259;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover.bottom, a:active.bottom {
  background-color: #F4A259;
  color: #383838;
}

/* contact.html */
